@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BooksViewModel 


<h1 class="text-center fw-bolder">The Amazon Bookstore Project</h1>

@foreach (Book b in Model.Books)
{
    <h3 class="container-xl text-center">@b.Title</h3>

    <ul class="container-fluid m-3 text border-bottom" >
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>Isbn: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>PageCount: @b.PageCount</li>
        <li>Price: @b.Price</li>    
    </ul>

    <br />
}

<div page-blah="@Model.PageInfo" page-action="Index" class="btn-lg"></div>